<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxs.b2cmall.employee.dao.EmployeeMapper">

    <insert id="save" parameterType="com.lxs.b2cmall.employee.entity.EmployeePO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_employee (shop_id, username, password, avatar_url, status, created_at, updated_at)
        VALUES (#{shopId}, #{username}, #{password}, #{avatarUrl}, #{status}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="getEmployee" resultType="com.lxs.b2cmall.employee.entity.EmployeePO">
        select
            id,
            shop_id,
            username,
            password,
            avatar_url,
            last_login_time,
            login_count,
            status,
            created_at,
            updated_at
        from tb_employee where shop_id=#{shopId} and username=#{username}
    </select>

    <select id="getById" resultType="com.lxs.b2cmall.employee.entity.EmployeePO">
        select
            id,
            shop_id,
            username,
            password,
            avatar_url,
            last_login_time,
            login_count,
            status,
            created_at,
            updated_at
        from tb_employee where id=#{id}
    </select>

    <update id="updateLoginInfo">
        update tb_employee
        set last_login_time = datetime('now', 'localtime'),
            login_count = #{loginCount},
            updated_at = datetime('now', 'localtime')
        where id = #{id}
    </update>

</mapper>
